<nav class="topbar">
      <%= link_to root_path do %>
            <div class="titleheader">

                <%= image_tag 'itsaspaceship.png', :class => "logo-head2" %>
            </div>
      <% end %>

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

</nav>



